<div class='apps'>

  <header class="p-1">
     
      

          <nav class="nav nav-pills center p-2 align-middle justify-content-center">
              <a class="button  text-center nav-link" routerLink="/anime" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Lorem Ipsum</a>
          </nav>


      
  </header>
  <div class="routerBody p-2">

      <router-outlet></router-outlet>
  </div>

  <footer class= "text-center" >
      <a class="d-inline col-4 text-decoration-none button" href='https://github.com/Amadikasun'>Github </a>
      <div class="p-2">
            © 2022 Copyright: Jana Turoňová
      </div>
  </footer>

</div>